{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    {% include "shared/_flashSuccess.html.twig" %}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'messages') }}</div>
    {% endif %}
    <div class="card border-primary mb-3" style="max-width: 50rem;">
        <div class="card-header">Mode demo</div>
        <div class="card-body">
            <h4 class="card-title">Email : demo@gmail.com</h4>
            <h4 class="card-title">Mot de passe : demo</h4>

        </div>
    </div>
    <div class="card border-primary mb-3" style="max-width: 50rem;">
        <div class="card-header">Connexion</div>
        <div class="card-body">
            {{ form_start(formView) }}
            {{ form_widget(formView) }}
            <button type="submit" class="btn btn-success">Connexion</button>
            {{ form_end(formView) }}
            {#<a href="">Mot de passe oublié ?</a>#}
        </div>
    </div>

{% endblock %}
