{% extends 'base.html.twig' %}

{% block title %}Modifier la tache{% endblock %}

{% block body %}
    {% include "shared/_flashSuccess.html.twig" %}
    {% include "shared/_flashWarning.html.twig" %}
    <h1> Modifier</h1>

    {{ form_start(formView) }}
    {{ form_widget(formView) }}

    <button type="submit" class="btn btn-success">Modifier les données de la tache</button>
    {{ form_end(formView) }}


{% endblock %}


