{% extends 'base.html.twig' %}

{% block title %}
    Page d'accueil
{% endblock %}

{% block body %}
    {% include "shared/_flashSuccess.html.twig" %}
    {% include "shared/_flashWarning.html.twig" %}
    <div>
        <h1>TODOLIST</h1>
    </div>
{% endblock %}